.trailer-videos {
  /* width: 1000px; */
  height: 300px;
  border-radius: 10px;
}
.trailer-name {
  /* background-color: aqua; */
  margin: 0;
  padding: 0;
}
.about-trailer {
  margin: 0;
  padding: 0;
  opacity: 0.6;
  /* background-color: aqua; */
}
.trailer-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
