.navBar {
  background-color: black;
  height: 50px;
}
.searchInput {
  background-color: blanchedalmond;
  height: 300px;
  text-align: center;
}
input {
  padding: 15px 900px 15px 20px;
  margin-top: 50px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
}
.searchbutton {
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  background-color: darkcyan;
  font-weight: bold;
  margin-left: -40px;
  color: aliceblue;
}
.moviecard {
  display: flex;
}
